.button-normal{
    -fx-text-fill: -fx-button-fill-background;
    -fx-cursor: hand;
    -fx-background-color: -fx-theme-lighter-fit-in-color;
}
.button-normal:hover{
    -fx-background-color: -fx-button-fill-background-hover;
    -fx-text-fill: #fff;
}

.button-medium{
    -fx-padding: 0.5em 0.55em;
    -fx-font-size: 15px;
    -fx-font-weight: 500;
    -fx-text-alignment: center;
    -fx-pref-Width: 200px;
    -fx-max-width: 200px;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
    -fx-background-color: -fx-button-fill-background;
}
.button-medium:hover{
    -fx-background-color: -fx-button-fill-background-hover;
}

.button-large{
    -fx-padding: 0.5em 0.55em;
    -fx-font-size: 15px;
    -fx-font-weight: 500;
    -fx-text-alignment: center;
    -fx-pref-Width: 300px;
    -fx-max-width: 300px;
    -fx-text-fill: -fx-button-fill-background;
    -fx-cursor: hand;
    -fx-background-color: -fx-theme-background-fit-in-color;
}
.button-large:hover{
    -fx-background-color: -fx-button-fill-background-hover;
    -fx-text-fill: #fff
}

.button-large-fill {
    -fx-padding: 0.5em 0.55em;
    -fx-font-size: 15px;
    -fx-font-weight: 500;
    -fx-text-alignment: center;
    -fx-pref-Width: 300px;
    -fx-max-width: 300px;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
    -fx-background-color: -fx-button-fill-background;
}
.button-large-fill:hover{
     -fx-background-color: -fx-button-fill-background-hover;
}
