/* CSS Variables - Colors Theme
body[theme-color="red"] {--theme-color: #ff0f51; --theme-color-shadow: rgba(255, 15, 81, .64); --theme-color-gradient: linear-gradient(to right, #c7001f, #ff1818);}
body[theme-color="purple"] {--theme-color: #9111f8; --theme-color-shadow: rgba(145, 17, 248, .64); --theme-color-gradient: linear-gradient(to right, #ad00c7, #b918ff);}
body[theme-color="blue"] {--theme-color: #364efa; --theme-color-shadow: rgba(54, 78, 250, .64); --theme-color-gradient: linear-gradient(to right, #1800c7, #1819ff);}
body[theme-color="green"] {--theme-color: #28b140; --theme-color-shadow: rgba(40, 177, 64, .64); --theme-color-gradient: linear-gradient(to right, #04c700, #24ff18);}
body[theme-color="yellow"] {--theme-color: #ffb13b; --theme-color-shadow: rgba(255, 177, 59, .64); --theme-color-gradient: linear-gradient(to right, #c7c500, #fdff18);}
body[theme-color="rose"] {--theme-color: #f5138e; --theme-color-shadow: rgba(245, 19, 142, 0.24); --theme-color-gradient: linear-gradient(to right, #c700a2, #ff188b);} */
@font-face {
    font-family: 'Lobster';
    src: url(../fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family: 'Pacifico';
    src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: 'Sacramento';
    src: url(../fonts/Sacramento-Regular.ttf);
}
@font-face {
    font-family: 'Shrikhand';
    src: url(../fonts/Shrikhand-Regular.ttf);
}

.root {
  -fx-font-smoothing-type: gray;
  -fx-color-red: #ff3b30;
  -fx-color-red-rgb: rgba(255, 59, 48, 0.3);
  -fx-color-red-shade: #ff1407;
  -fx-color-red-tint: #ff6259;
  -fx-color-green: #4cd964;
  -fx-color-green-rgb: rgba(76, 217, 100, 0.3);
  -fx-color-green-shade: #2cd048;
  -fx-color-green-tint: #6ee081;
  -fx-color-blue: #2196f3;
  -fx-color-blue-rgb: rgba(33, 150, 243, 0.3);
  -fx-color-blue-shade: #0c82df;
  -fx-color-blue-tint: #48a8f5;
  -fx-color-pink: #ff2d55;
  -fx-color-pink-rgb: rgba(255, 45, 85, 0.3);
  -fx-color-pink-shade: #ff0434;
  -fx-color-pink-tint: #ff5676;
  -fx-color-yellow: #ffcc00;
  -fx-color-yellow-rgb: rgba(255, 204, 0, 0.3);
  -fx-color-yellow-shade: #d6ab00;
  -fx-color-yellow-tint: #ffd429;
  -fx-color-orange: #ff9500;
  -fx-color-orange-rgb: 255, 149, 0;
  -fx-color-orange-shade: #d67d00;
  -fx-color-orange-tint: #ffa629;
  -fx-color-purple: #9c27b0;
  -fx-color-purple-rgb: rgba(156, 39, 176, 0.3);
  -fx-color-purple-shade: #7e208f;
  -fx-color-purple-tint: #b92fd1;
  -fx-color-deeppurple: #673ab7;
  -fx-color-deeppurple-rgb: rgba(103, 58, 183, 0.3);
  -fx-color-deeppurple-shade: #563098;
  -fx-color-deeppurple-tint: #7c52c8;
  -fx-color-lightblue: #5ac8fa;
  -fx-color-lightblue-rgb: rgba(90, 200, 250, 0.3);
  -fx-color-lightblue-shade: #32bbf9;
  -fx-color-lightblue-tint: #82d5fb;
  -fx-color-teal: #009688;
  -fx-color-teal-rgb: rgba(0, 150, 136, 0.3);
  -fx-color-teal-shade: #006d63;
  -fx-color-teal-tint: #00bfad;
  -fx-color-lime: #cddc39;
  -fx-color-lime-rgb: rgba(205, 220, 57, 0.3);
  -fx-color-lime-shade: #bac923;
  -fx-color-lime-tint: #d6e25c;
  -fx-color-deeporange: #ff6b22;
  -fx-color-deeporange-rgb: rgba(255, 107, 34, 0.3);
  -fx-color-deeporange-shade: #f85200;
  -fx-color-deeporange-tint: #ff864b;
  -fx-color-gray: #8e8e93;
  -fx-color-gray-rgb: rgba(142, 142, 147, 0.3);
  -fx-color-gray-shade: #79797f;
  -fx-color-gray-tint: #a3a3a7;
  -fx-color-white: #ffffff;
  -fx-color-white-rgb: rgba(255, 255, 255);
  -fx-color-white-shade: #ebebeb;
  -fx-color-white-tint: #ffffff;
  -fx-color-black: #000000;
  -fx-color-black-rgb: rgba(0, 0, 0, 0.3);
  -fx-color-black-shade: #000000;
  -fx-color-black-tint: #141414;

}
.theme-rose{
    -fx-theme-color: #f5138e;
    -fx-theme-color-shadow: rgba(245, 19, 142, 0.24);
    -fx-theme-color-gradient: linear-gradient(to right, #c700a2, #ff188b);
    -fx-body-background: rgba(18, 8, 16, 1);
    -fx-slitter-background-color: rgba(31, 17, 28, 0.38);
    -fx-more-slitter-background-color: rgba(255, 255, 255, 0.18);
    -fx-sidebar-bg-color: #111;
    -fx-sidebar-text-color: rgba(255, 255, 255, 1);
    -fx-our-border-color: rgba(18, 8, 16, 80);
    /*start editing here */
    -fx-background-color: -fx-body-background;
     -fx-search-input-background-color: rgba(255, 255, 255, 0.18);
    -fx-input-text-fill: -fx-color-white;
     -fx-label-color: -fx-color-white;
    -fx-theme-progress-color: -fx-theme-color-gradient;
    -fx-scroll-panel-background: #02030A;
}
.text-field, .text-area{
    -fx-highlight-fill : -fx-more-slitter-background-color;
    -fx-highlight-text-fill : -fx-input-text-fill;
    -fx-prompt-text-fill: -fx-more-slitter-background-color;
    -fx-text-fill: -fx-input-text-fill;
}
.basic-btn{
    -fx-padding: 0.5em 0.55em;
    -fx-background-color: -fx-theme-color-gradient;
    -fx-text-fill: -fx-label-color;
    -fx-text-alignment: center;
    -fx-pref-Width: 110px;
    -fx-max-width: 120px;
    -fx-font-size: 12px;
    -fx-font-weight: 500;
}
.basic-btn:hover{
    -fx-background-color: -fx-theme-color;
}
.basic-btn.round{
    -fx-background-radius: 50px;
}
.scroll-pane, .scrollable-content{
    -fx-background-color: -fx-scroll-panel-background;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-content-display: none;
    -fx-display:none;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-more-slitter-background-color;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color: none;
}

.top-gradient{
    -fx-padding: 10 10 10 10;
    -fx-background-color: rgba(18, 8, 16, 0);
    -fx-background-color: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.72) 46%, rgba(0,0,0,1) 64%);
}