
/*

Fill with theme color

*/
.h1-fill-theme-color{
    -fx-font-size: 50px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-theme-color-gradient;
}
.h2-fill-theme-color{
    -fx-font-size: 40px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-theme-color-gradient;
}
.h3-fill-theme-color{
    -fx-font-size: 30px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-theme-color-gradient;
}
.h4-fill-theme-color{
    -fx-font-size: 20px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-theme-color-gradient;
}
.h5-fill-theme-color{
    -fx-font-size: 15px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-theme-color-gradient;
}
.h6-fill-theme-color{
    -fx-font-size: 10px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-theme-color-gradient;
}
/*
fill with
white
*/
.h1-fill-white{
    -fx-font-size: 50px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-color-white;
}
.h2-fill-white{
    -fx-font-size: 40px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-color-white;
}
.h3-fill-white{
    -fx-font-size: 30px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-color-white;
}
.h4-fill-white{
    -fx-font-size: 20px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-color-white;
}
.h5-fill-white{
    -fx-font-size: 15px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-color-white;
}
.h6-fill-white{
    -fx-font-size: 10px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-color-white;
}
