
TextField, PasswordField {
    -fx-background-color: -fx-input-background-color;
    -fx-prompt-text-fill: -fx-input-prompt-text-fill;
    -fx-text-fill: -fx-input-text-fill;
}
.input-field-form{
    -fx-font-size: 15px;
    -fx-font-weight: 400;
    -fx-pref-Width: 300px;
    -fx-max-width: 300px;
    -fx-padding: 10px;
}
