
.link{
    -fx-background-color: none;
    -fx-cursor: hand;
    -fx-text-fill: -fx-theme-color-gradient;
}
.link:hover {
    -fx-text-fill: -fx-theme-color;
}


.basic-link{
    -fx-font-size: 10px;
    -fx-padding: 14.0px;
    -fx-font-weight: 500;
    -fx-background-color: none;
    -fx-cursor: hand;
    -fx-text-fill: -fx-theme-color-gradient;
}
.basic-link:hover {
    -fx-text-fill: -fx-theme-color;
}
