.root {
    -fx-sidebar-min-width: 250px;
    -fx-sidebar-pref-width: 250px;
    -fx-sidebar-max-width: 250px;
    -fx-sidebar-init-text-color: -fx-sidebar-text-color;
}
.header-section {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: linear-gradient(to right, #c700a2, #ff188b);
}
.sidebar-section {
    -fx-min-width: -fx-sidebar-min-width;
    -fx-pref-width: -fx-sidebar-pref-width;
    -fx-max-width: -fx-sidebar-max-width;
    -fx-background-color: -fx-sidebar-bg-color;
}
.sidebar-right {
    -fx-border-width: 1;
    -fx-border-color: transparent transparent transparent -fx-our-border-color;
}
.sidebar-right.collapse{

}
.sidebar-left{
    -fx-border-color: transparent -fx-our-border-color transparent transparent;
    -fx-border-width: 1;
}
.sidebar-left.collapse{
    -fx-sidebar-min-width: 82px;
    -fx-sidebar-pref-width: 82px;
    -fx-sidebar-max-width: 82px;
    -fx-sidebar-init-text-color: -fx-sidebar-bg-color;
}


.bottom-section {
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
    -fx-border-width: 1;
    -fx-background-color: -fx-slitter-background-color;
    -fx-border-color: -fx-our-border-color transparent transparent transparent;
    -fx-min-height: 72px;
    -fx-pref-height: 72px;
    -fx-max-height: 72px;
}
.audio-player .button{
    -fx-background-color: none;
    -fx-opacity: .32;
}
.audio-player > .track-description{
    -fx-padding: 10 10 10 10;
}
.audio-player > .track-description .title{
    -fx-text-fill: -fx-label-color;
    -fx-font-size: 15px;
    -fx-padding: 2 10 5 10;
}
.audio-player > .track-description .artist{
    -fx-text-fill: -fx-label-color;
    -fx-font-size: 10px;
    -fx-padding: 0 10 5 10;
}
.audio-player .button.active{
    -fx-opacity: 1;
}
.audio-player > .side {
    -fx-min-width: 250px;
    -fx-pref-width: 250px;
    -fx-max-width: 250px;
}
.duration-indicator Label{
    -fx-text-fill: -fx-label-color;
    -fx-font-size: 10px;
}
.button-sidebar-icon{
    -fx-pref-Width: 200px;
    -fx-pref-height: 42px;
    -fx-text-fill : -fx-sidebar-init-text-color;
    -fx-opacity: .32;
    -fx-font-size: 20px;
    -fx-font-weight: 500;
    -fx-alignment: BASELINE_LEFT;
    -fx-background-color : none;

}
.button-sidebar-icon.active{
    -fx-opacity: 1;
}
.button-sidebar-icon:hover {
    -fx-background-color : none;
}
.button-sidebar-icon:pressed{
    -fx-background-color : none;
}

.progress-bar>*.bar{
    -fx-background-color : red
}

.progress-bar>*.track{
    -fx-background-color : -fx-more-slitter-background-color;
}

.progress-bar:determinate>*.determinate-indicator>*.track{
    -fx-background-color : -fx-theme-progress-color;
}

.progress-bar:determinate>*.determinate-indicator>*.indicator{
    -fx-background-color : blue;
}


.search-bar {
    -fx-background-color: -fx-slitter-background-color;
    -fx-background-radius: 12px;
}
.search-bar > .button {
    -fx-background-color: none;
}
.search-bar > TextField {
    -fx-background-color: none;
    -fx-font-weight: 400;
    -fx-font-size: 20px;
    -fx-border-color: none;
}
.search-bar > TextField:focused{
    -fx-border-color: none;
}
.search-pane > .filter-search-categories .button{
    -fx-text-fill: -fx-label-color;
    -fx-background-radius: 9px;
    -fx-pref-width: 148px;
    -fx-pref-height: 50px;
    -fx-background-color: -fx-more-slitter-background-color;
    -fx-line-height: 1.1;
}

.search-pane > .filter-search-categories .button:hover, .search-pane > .filter-search-categories .button.active{
    -fx-background-color: -fx-theme-color;
    -fx-text-fill: -fx-label-color;
}

.our-pane{
    -fx-padding: 10 20 10 20;

}
.our-pane > .panel{
    -fx-background-color: -fx-slitter-background-color;
    -fx-background-radius: 12px;
}
.our-pane > .panel .header{
    -fx-font-size: 20pt;
    -fx-padding: 10 10 10 10;
    -fx-text-fill: -fx-label-color;
    -fx-border-width: 5;
}
.our-pane > .side{
    -fx-min-width: 300px;
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
}
.our-pane > .side.expand{
    -fx-min-width: 310px;
    -fx-pref-width: 310px;
    -fx-max-width: 310px;
}
.our-pane > .header-container{
    -fx-padding: 10 10 10 10;
}
.our-pane > .header-container Label{
    -fx-font-size: 25pt;
    -fx-text-fill: -fx-label-color;
}
.our-message-bar{
    -fx-background-color: -fx-body-background;
    -fx-background-radius: 50px;
}
.our-message-container{
    -fx-padding: 10 10 10 10;
}
.our-message {
    -fx-padding: 15 15 15 15;
    -fx-text-fill: -fx-label-color;
}
.our-message.sent{ -fx-background-color: -fx-theme-color; }
.our-message.sent.first {-fx-background-radius: 20px 20px 8px 20px;}
.our-message.sent.last {-fx-background-radius: 20px 8px 20px 20px;}

.our-message.received{ -fx-background-color: -fx-more-slitter-background-color; }
.our-message.received.first {-fx-background-radius: 20px 20px 20px 8px;}
.our-message.received.last {-fx-background-radius: 8px 20px 20px 20px;}

.top-message-bar{
    -fx-background-color: -fx-more-slitter-background-color;
    -fx-background-radius: 12px 12px 0px 0px;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent -fx-our-border-color transparent;
}
.top-message-bar .username{
    -fx-text-fill: -fx-label-color;
    -fx-font-size: 15px;
}
.top-message-bar .status{
    -fx-text-fill: -fx-label-color;
    -fx-font-size: 10px;
    -fx-padding: 0 10 5 10;
}
.top-message-bar .display-picture.label{
    -fx-background-image: url("../img/user.png");
    -fx-pref-height: 35px;
    -fx-pref-width: 35px;
    -fx-max-height: 35px;
    -fx-max-width: 35px;
    -fx-background-size: cover;
    -fx-background-color: -fx-more-slitter-background-color;
}
