.root {
    -fx-panel-Width: 200px;
    -fx-panel-text-color: -fx-panel-text-fill;
}
.collapsed {
  -fx-panel-Width: 52px;
  -fx-panel-text-color: -fx-panel-background-color;
}

.panel-left {
  -fx-background-color: -fx-panel-background-color;
  -fx-pref-Width: -fx-panel-Width;
}
.panel-user-pic{
    -fx-background-image: url("../img/user.jpg");
    -fx-background-size: cover;
}
.button-panel-icon{
  -fx-pref-Width: 200.0px;
  -fx-pref-height: 42.2px;
  -fx-text-fill : -fx-panel-text-color;
  -fx-opacity: .32;
  -fx-font-size: 20px;
  -fx-font-weight: 500;
  -fx-alignment: BASELINE_LEFT;
  -fx-background-color : none;
  /*set this manually */
  -fx-padding-left:25;
  -fx-padding-top: 42.0;
  -fx-graphicTextGap: 10.0;

}
.button-panel-icon.active{
   -fx-opacity: 1;
}
.button-panel-icon:hover {
    -fx-background-color : none;
}
.button-panel-icon:pressed{
  -fx-background-color : none;
}