.toolBar-audio-player {
    -fx-background-color: -fx-audio-player-background-color;
    /*-fx-pref-Width: 72px;*/
}
.toolBar-audio-player .button{
    -fx-background-color: none;
}
.music-cover-pic{
    -fx-background-image: url("../img/user.jpg");
    -fx-background-size: cover;
}
.player-controls {

}

.play-duration-progress-bar > .bar{
    -fx-progress-color: -fx-theme-progress-color;
    -fx-stroke-width: 3;
}
.play-duration-progress-bar > .track {
    -fx-background-color: #E0E0E0;
}